body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  line-height: 1.65;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
}
body input, body textarea {
  outline: none;
  border-radius: 3px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-responsive.img-width {
  width: 100%;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.container {
  max-width: 1256px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.flex-row{
  margin-right: -14.5px;
  margin-left: -14.5px;
}
.flex-column{
  flex-direction: column;
}
.flex-align-center{
  align-items: center;
}
.flex-align-end{
  align-items: flex-end;
}
.flex-justify-end{
  justify-content: flex-end;
}
.flex-justify-between{
  justify-content: space-between;
}
.button{
  background-color: rgba(255,255,255,0);
  border: 1px solid #fff;
  color: #fff;
  border-radius:3000px; 
  padding: 0px;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s;
}
.button:hover{
  background-color: rgba(255,255,255,1);
  color: #000;
}
.nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 300;
}
.nav__link{
  padding: 32px 30px;
  display: block;
  text-decoration: none;
  color:#fff;
  position: relative;
  font-size: 24px;
}
.nav__link span{
  position: relative;
  padding: 4px 0px;
}
.nav__link span::after{
  content:"";
  position: absolute;
  bottom:0px;
  left: 0px;
  height: 3px;
  width: 0px;
  background-color:#fff;
  transition: width 0.3s;
}
.nav__link:hover span::after{
  width: 100%;
}
.nav__item:last-child .nav__link{
  padding-right: 0px;
}
.logo{
  font-weight: 900;
  font-style: normal;
  color: #fff;
  font-size: 36px;
  letter-spacing: 0.08em;
}
.offer{
  min-height: 768px;
  height: 100vh;
  background-image: url("../img/bg.png");
}
.offer__flex{
  height: 100%;
}
.offer__container{
  color: #fff;
  height: 100%;
}
.offer__content{
  margin-bottom: 13%;
  width: 80%;
}
.offer__title{
  font-weight: 700;
  font-size: 96px;
  font-style: normal;
  line-height: 112px;
}
.offer__description{
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  width: 65%;
}
.offer__button{
  padding:27px 98px;
  font-weight: 300;
  font-size: 24px;
}
.qualities__container{
  position: relative;
  margin-top: 65px;
  margin-bottom: 65px;
  padding-top: 117px;
  padding-bottom: 85px;
}
.qualities__container::after{
  content: "";
  width: 80%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
}
.qualities__container::before{
  content: "";
  width: 80%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}
.qualities__item{
  position: relative;
  display: block;
  padding: 0%;
}
.qualities__icon{
  height: 110px;
  margin-bottom: 20px;
}
.qualities__icon img{
  height: 100%;
  display: block;
  margin: auto;
  max-width: 100%;
}
.qualities__description{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
.wedding{
  max-width: 100%;
  background-image: url(../img/wedding.png);
  background-size: cover;
}
.wedding__container{
  max-width: 100%;
  height: 100%;
}
.wedding__flex{
  height: 100%;
}
.wedding__content{
  margin: 11%;
  width: 80%;
  color: #fff;
}
.wedding__title{
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 0px;
}
.wedding__description{
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}
.wedding__link{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.wedding__link:hover{
  box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
}
.fixedprice{
  max-width: 100%;
  height: 60%;
}
.fixedprice__container{
  position: relative;
  padding-bottom: 65px;
}
.fixedprice__flex{
  height: 100%;
}
.fixedprice__item{
  position: relative;
  display: block;
  background-color: grey;
  width: 40%;
  min-height: 50%;
  margin: 1%;
  transition: 0.3s;
}
.fixedprice__item:hover{
  box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
}
.fixedprice__title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
.fixedprice__link{
  padding-bottom: 5%;
  padding-top: 70%;
  display: block;
  text-decoration: none;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}
.categories__flex{
  height: 100%;
}
.categories__container{
  position: relative;
  padding-bottom: 65px;
}
.categories__item{
  position: relative;
  display: block;
  width: 50%;
}
.categories__item--big{
  position: relative;
  display: block;
  background-color: grey;
  width: 50%;
  margin-right: 29px;
  height: 692px;
  transition: 0.3s;
}
.categories__item--big:hover{
  box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
}
.categories__item--small{
  position: relative;
  display: block;
  background-color: grey;
  width: 100%;
  height: calc(50% - 14.5px);
  margin-top: 29px;
  transition: 0.3s;
}
.categories__item--small:hover{
  box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
}
.categories__item--small:first-child{
  margin-top: 0px;
}
.categories__link{
  position: relative;
  padding-left: 5%;
  padding-bottom: 15px;
  display: block;
  text-decoration: none;
  height: 100%;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}
.categories__link-text{
  position: absolute;
  bottom: 15px;
}
.categories__link-description{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.ucan{
  background-color: #F5F9E2;
}
.ucan__container{
  position: relative;
  padding-bottom: 65px;
  width: 100%;
  margin-bottom: 65px;
}
.ucan__icon{
  width: 72px;
  margin-bottom: 20px;
  display: block;
}
.ucan__noimagetext{
  width: calc(100% - 93px);
  margin-left: 21px;
  margin-bottom: 20px;
}
.ucan__images{
  width: 40%;
  padding-top:20px;
}
.ucan__title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
}
.ucan__text{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.howto{
  background-color:#F5F9E2;
}
.howto__container{
  position: relative;
  padding-bottom: 65px;
  width: 100%;
  margin-bottom: 35px;
}
.howto__item{
  background-color: #fff;
  width: 32%;
  align-content: center;
  display: block;
}
.howto__icon{
  height: 90px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.howto__title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 65px;
}
.howto__description{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 48px;
}
.howto__asterisk{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  padding-top: 30px;
}
.contacts__container{
  position: relative;
  padding-bottom: 65px;
  width: 100%;
}
.contacts__map{

}
.contacts__title{
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.contacts__description{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.bottom{
  background-color: #C0D0E8;
}
.bottom__title{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150.69%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottom__link{
  text-decoration: none;
  color: #000;
}
.bottom__text{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  margin-left: -26px;
  margin-bottom: 25px;
}
.bottom__navtext{
  margin-left: 0;
}
.bottom__noimagetext{
  margin-left: 5px;
}
.bottom__contacts{
  margin-left: 230px;
  padding-bottom: 147px;
}
.bottom__icon{
  height: 26px;
}
@media screen and (max-width: 1257px){
  .container{
    max-width: 1070px;
  }
  .offer__title {
    font-size: 83px;
    line-height: 100px;
  }
  .qualities__container::after{
    width: 60%;
  }
  .qualities__container::before{
    width: 60%;
  }
  .qualities__item{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .ucan {
    margin-top: 50px;
  }
  .ucan__images{
    width: 48%;
  }
}
@media screen and (max-width: 1071px){
  .container{
    padding: 0px 15px;
  }
  .offer__content{
    width: 90%;
  }
  .howto__description {
    font-size: 20px;
  }
  .ucan__images{
    display: none;
  }
}
@media screen and (max-width: 961px){
  .offer__content{
    width: 100%;
  }
  .offer__title {
    font-size: 64px;
    line-height: 83px;
  }
  .offer__description {
    font-size: 28px;
    line-height: 35px;
  }
  .qualities__icon {
    height: 70px;
  }
  .qualities__description {
    font-size: 20px;
  }
  .wedding__title {
    font-size: 62px;
  }
  .wedding__description {
    font-size: 22px;
  }
  .ucan__title {
    font-size: 39px;
  }
  .ucan__text {
    font-size: 18px;
    line-height: 25px;
  }
  .ucan__icon {
    width: 51px;
  }
  .ucan__images{
    display: none;
  }
  .categories__link-description {
    font-size: 19px;
  }
  .howto__icon{
    width: 80px;
  }
  .howto__description {
    font-size: 16px;
  }
  .howto__asterisk {
    font-size: 17px;
  }
  .contacts__title {
    font-size: 40px;
  }
  .contacts__description {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 36px;
  }
}
@media screen and (max-width: 769px){
  .offer {
    min-height: initial;
    background-size: cover;
    background-position: center center;
  }
  .offer__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 1px 1px 2px black;
  }
  .offer__description {
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    text-shadow: 1px 1px 2px black;
  }
  .offer__button{
    font-size: 13px;
    line-height: 15px;
    padding: 19px 68px;
  }
  .qualities__container::after{
    width:0;
    height: 0px;
  }
  .qualities__container::before{
    width:0;
    height: 0px;
    padding: 0;
  }
  .qualities__flex{
    flex-wrap: wrap;
  }
  .qualities__container{
    margin: 0;
    padding: 0;
  }
  .qualities__item{
    width: calc(50%);
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-items: unset;
    border: 1px solid #DCDCDC;
  }
  .qualities__description{
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .qualities__icon{
    width: 65px;
    height: 65px;
    margin: 0 auto;
  }
  .wedding{
    height: 320px;
    background-size: cover;
    background-position: center center;
  }
  .wedding__title{
    font-size: 36px;
    line-height: 42px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .wedding__description{
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .fixedprice__container{
    margin: 0;
  }
  .fixedprice__title{
    font-size: 18px;
    line-height: 21px;
  }
  .fixedprice__flex{
    flex-direction: column;
  }
  .fixedprice__link{
    width: 100%;
    height: 108px;
    font-size: 24px;
    line-height: 28px;
    text-align: start;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0;
  }
  .fixedprice__item{
    width: 100%;
    height: 108px;
    margin: 0;
  }
  .ucan__container{
    margin: 0;
  }
  .ucan{
    margin: 0;
  }
  .ucan__title{
    font-size: 18px;
    line-height: 21px;
  }
  .ucan__images{
    display: none;
  }
  .ucan__icon{
    width: 33px;
    height: 33px;
  }
  .ucan__noimagetext{
    font-size: 12px;
    line-height: 14px;
  }
  .ucan__text{
    font-size: 12px;
    line-height: 14px;
  }
  .categories__container{
    margin-top: 0;
    padding: 0;
    height: 324px;
  }
  .categories__flex{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .categories__flexwrap{
    flex-wrap: wrap;
  }
  .categories__link{
    width: 100%;
    height: 100%;
  }
  .categories__link-text{
    font-size: 24px;
    line-height: 28px;
    text-align: start;
    padding: 0px;
    padding-bottom: 20px;
    margin: 0;
  }
  .categories__link-description{
    display: none;
  }
  .categories__item--big{
    width: 100%;
    height: 108px;
    margin: 0;
  }
  .categories__item--small{
    width: 100%;
    height: 108px;
    margin: 0;
  }
  .categories__flex{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .categories__item{
    width: 100%;
    height: 108px;
  }
  .howto__container{
    margin: 0;
  }
  .howto{
    margin: 0;
    padding: 0;
    height: auto;
  }
  .howto__title{
    font-size: 18px;
    line-height: 21px;
    padding: 30px;
    margin: 0;
  }
  .howto__flex{
    flex-direction: column;
    justify-content: space-between;
    
  }
  .howto__item{
    display: flex;
    position: relative;
    width: 100%;
    height: 117px;
    margin: 0;
  }
  .howto__item:first-child{
    margin-bottom: 11px;
  }
  .howto__item:last-child{
    margin-top: 11px;
  }
  .howto__description{
    margin-top: 35px;
    width: 202px;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    padding-right: 20px;
    text-align: start;
    display: inline-block;
  }
  .howto__icon{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 38px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .howto__asterisk{
    font-size: 12px;
    line-height: 14px;
  }
  .contacts__container{
    text-align: center;
  }
  .contacts__flex{
    flex-direction: column;
  }
  .contacts__title{
    font-size: 18px;
    line-height: 21px;
  }
  .contacts__description{
    font-size: 14px;
    line-height: 21px;
  }
  .bottom__title{
    font-size: 14px;
    line-height: 150.69%;
  }
  .bottom__text{
    font-size: 11px;
    line-height: 83.69%;
    margin-bottom: 21px;
  }
  .bottom__navtext{
    font-size: 11px;
    line-height: 83.69%;
  }
  .bottom__noimagetext{
    font-size: 11px;
    line-height: 83.69%;
  }
  .bottom__icon{
    width: 14px;
  }
  .bottom__contacts{
    margin-left: 44px;
  }
}